@function CalcularMaximoRelleno($padding){
    @if $padding > 10
    {
        @return 10px;
    }
    @else
    {
        $nuevopadding: $padding + 2;
        @return #{$nuevopadding}px;
    }
}

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding: CalcularMaximoRelleno(5);
}